body {
    background-color: #f2f2f2;
    font-family: "Comic Sans MS", sans-serif ;
  }
 nav {
  background: #9eca9e;
  color: white;
  padding: 10px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 20px;
  padding: 0;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}


 .music-player {
  width: 100%;
  max-width: 500px;
  background: #290d37;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px #00000055;
  color: #fff;
  margin: 30px auto;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* IMPORTANT: stop forcing everything to center */
  text-align: left;     /* default reset */
}

  .music-player img,
.music-player h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}
  
  .controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .controls button {
    background: #444;
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .controls button:hover {
    background: #666;
  }
  
  .controls input[type="range"] {
    flex: 1;
    accent-color: #1db954; /* Spotify green style */
  }

  .time {
    width: 50px;
    padding: 15px;
    border-radius: 5px;
  }

.divider {
    border: none;
    height: 3px;
    background-color: #333;
    width: 80%;
    margin: 40px auto;
}

#memeImage {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

  #songTitle {
    margin-top: 15px;
}
